@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

:root {
	--border-radius: 20px; /* Portfolio and contact */
	--padding: 10px; /* Portfolio and contact description */
	--border-color: 1px solid #ced4cd; /* Section and header (mobile) */
	--letter-spacing: 0.025em; /* Menu, h2, and h3 */
}

body {
	margin: 0;
	padding: 0;
}

header, h2, h3 {
	font-family: 'Gudea', Roboto, sans-serif;
	letter-spacing: var(--letter-spacing);
}

header, section.not-found {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 1px 2px rgba(5, 5, 5, 0.1);
}

nav {
	margin: 15px auto;
	float: right;
}

nav ul {
	margin: auto;
	margin-right: 20px;
}

nav li {
	display: inline;
	margin: auto 20px;
}

nav li a:hover {
	color: #2a9d8f;
}

nav li a {
	font-size: 20px;
	color: #586069;
	letter-spacing: var(--letter-spacing);
}

/* Hide checkbox for menu */
input[type="checkbox"], nav img {
	display: none;
}

h2, .not-found a {
	font-size: 43px;
	font-weight: 300;
	line-height: 25px;
}

h2, .skill, .portfolio-list, .my-contact, footer {
	text-align: center;
}

h3 {
	font-size: 23px;
}

a {
	text-decoration: none;
}

p {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.050em;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: auto;
	margin-left: -100px;
}

section, header {
	display: block;
	background-color: #fdfdfd;
	border-bottom: var(--border-color);
	overflow: hidden;
	word-wrap: break-word;
}

header, footer {
	background-color: white;
}

.divider {
	width: 80px;
	height: 3px;
	background-color: #48cae4;
	margin: -12px auto;
}

article.profile .divider {
	margin-bottom: 40px;
	margin-left: 40px;
}

article.profile {
	width: 100%;
	text-align: center;
	margin: 140px auto;
}

.responsive-prof-pic, .about {
	width: 50%;
	float: left;
}

.profile h2, .profile p, .portfolio-list p {
	text-align: left;
	padding: 0px 40px;
}

.profile img {
	width: 300px;
	height: 300px;
	border: 5px solid #e1e4e8;
	border-radius: 50%;
	margin-top: 45px;
}

.skill, .portfolio-list, .my-contact {
	margin-top: 100px;
}

.skill li, ul, .portfolio-list li, .my-contact li {
	display: inline-block;
}

.skill img {
	width: 135px;
	height: 135px; 
	padding: 0px 65px 120px 165px;
	margin-top: 20px;
}

.portfolio-list li, .my-contact li {
	width: 480px;
	border: 1px solid #cecece;
	border-radius: var(--border-radius);
	margin-bottom: 100px;
	margin-left: 100px;
}

.portfolio-list img {
	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
}

.portfolio-list img, .my-contact img {
	width: 100%;
	height: 380px;
}

.portfolio-list p {
	margin: 4px;
	padding: var(--padding);
	height: 80px;
}

.portfolio-list p, .my-contact p {
	overflow-y: auto;
}

.my-contact li {
	width: 300px;
}

.my-contact img {
	height: 80px;
	width: 	100px;
	margin-top: 25px;
}

.my-contact p {
	margin: 7px;
	margin-bottom: 20px;
	height: 50px;
	padding: var(--padding);
	padding-top: 0px;
}

footer {
	padding: .1px;
	width: 100%;
	color: #586069;
}

footer p {
	font-size: 14px;
	line-height: 15px;
}

section.not-found {
	bottom: 0;
	padding-left: 250px;
	padding-top: 100px;
}

.not-found h2 {
	font-size: 35px;
	margin: -10px 0px 25px 0px;
	text-align: left;
}

.not-found a {
	text-decoration: underline;
	color: black;
	font-size: 20px;
}

/* Clearfix */
section:before, section:after, .profile:after {
    content: " ";
    display: table; 
}

section:after, .profile:after {
    clear: both;
}

/* Responsive page for mobile device */
@media only screen and (max-width: 768px) {
	header {
		position: absolute;
	}

	img {
		max-width: 100%;
		height: auto !important;
	}
	
	.profile img {
		max-width: 80%;
		margin-bottom: 130px;
	}
	
	.responsive-prof-pic {
		margin: -80px auto;
	}
	
	nav li, .skill ul, .skill ul li, .my-contact li, .portfolio-list li, nav li a {
		display: block;
	}
	
	nav ul {
		display: none;
		margin: auto;
	}
	
	nav li {
		margin: 20px 30px;
	}

	nav li a {
		text-align: center;
	}
	
	nav img {
		display: block;
		margin: -5px 15px -3px 0px;
		width: 40px;
		float: right;
	}
	
	/* Show menu when invisible checkbox is checked */
	input[type=checkbox]:checked ~ ul.menu {
		display: block;
		margin-top: 41px;
		border-top: var(--border-color);
	}
	
	.responsive-prof-pic, .about, .skill ul, .profile, nav, .portfolio-list ul, .my-contact ul {
		width: 100%;
	}
	
	.skill img {
		width: 100px;
		padding: 0px 0px 150px 0px;
	}
	
	.skill ul, .portfolio-list ul, .my-contact ul {
		margin: 0px;
	}
	
	.portfolio-list li, .my-contact li {
		margin: auto 20px;
		width: auto;
		margin-bottom: 100px;
	}
	
	.portfolio-list p {
		margin: 0px;
		height: 100px;
	}
	
	.my-contact li {
		margin: 0px 50px 100px 50px;
	}
	
	.my-contact img {
		height: 85px !important;
	}
	
	footer p {
		font-size: 13px;
		line-height: 10px;
	}
	
	section.not-found {
		padding: 100px 30px;
	}
}


