:root {
  --bg-color: #faf3eb;
  --text-color: #3b3852;
  --link-color: #443653;
  --border-color: #cecacd;
  --card-bg-color: #fffaf3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #191724;
    --text-color: #e0def4;
    --link-color: #d1bbec;
    --border-color: #524f67;
    --card-bg-color: #1f1d2e;
  }
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font: 1rem/1.6 sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  letter-spacing: 0.04rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 600;
  line-height: 1.3;
}

a {
  color: var(--link-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

header {
  padding: 1.5rem 0;
}

nav {
  display: flex;
  justify-content: center;
  column-gap: 5rem;
}

nav a, summary, .links {
  font-weight: 500;
}

main {
  width: min(60ch, 100% - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-block: 1px solid var(--border-color);
}

section {
  width: min(100%, 55ch);
  margin-block: 3rem;
}

ul {
  padding: 0 1.2rem;
}

.tech-stack {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

details {
  border: 3px solid var(--border-color);
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 1rem;
}

summary {
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-top: 1.7rem
}

article {
  border: 3px solid var(--border-color);
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 2rem;
}

.links {
  display: flex;
  column-gap: 1.5rem;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
}
